.qmake.stash
Makefile
java/libremoteApiJava.1.0.0.dylib
java/libremoteApiJava.1.0.dylib
java/libremoteApiJava.1.dylib
java/libremoteApiJava.dylib
java/libremoteApiJava.so
java/libremoteApiJava.so.1
java/libremoteApiJava.so.1.0
java/libremoteApiJava.so.1.0.0
lib/libremoteApi.1.0.0.dylib
lib/libremoteApi.1.0.dylib
lib/libremoteApi.1.dylib
lib/libremoteApi.dylib
lib/libremoteApi.so
lib/libremoteApi.so.1
lib/libremoteApi.so.1.0
lib/libremoteApi.so.1.0.0
lua/libremoteApi.1.0.0.dylib
lua/libremoteApi.1.0.dylib
lua/libremoteApi.1.dylib
lua/libremoteApi.dylib
lua/libremoteApi.so
lua/libremoteApi.so.1
lua/libremoteApi.so.1.0
lua/libremoteApi.so.1.0.0
*.o
Makefile.Debug
Makefile.Release
debug/
release/
x64/
.vs/
*.user
